<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
    {if session('username')===config('superman')}
        <dl id="menu-banner">
            <dt><i class="Hui-iconfont">&#xe613;</i> 首页设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Banner/slideshow')}" data-title="轮播图" href="javascript:;">轮播图设置</a></li>
                    <li><a data-href="{:url('Banner/company')}" data-title="品牌介绍" href="javascript:;">品牌介绍</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Content/filmList')}" data-title="影片列表" href="javascript:void(0);">影片列表</a></li>
                    <li><a data-href="{:url('Content/messageList')}" data-title="用户需求" href="javascript:void(0);">用户需求</a></li>
                    <li><a data-href="{:url('Content/activityList')}" data-title="活动列表" href="javascript:void(0);">活动列表</a></li>
                    <li><a data-href="{:url('Content/orderList')}" data-title="预约记录" href="javascript:void(0);">预约记录</a></li>
                    <li><a data-href="{:url('Content/joinList')}" data-title="招商加盟" href="javascript:void(0);">招商加盟</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Admin/adminlist')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                    <li><a data-href="{:url('Admin/grouplist')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="{:url('Admin/rulelist')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <!--<li><a data-href="{:url('System/setting')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>-->
                    <li><a data-href="{:url('System/syslog')}" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
                </ul>
            </dd>
        </dl>
    {/if}

    </div>
</aside>