<style>
    .thumbnail{ width:300px}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary btn-uploadstar radius ml-10">封面图</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                        <img class="thumbnail" src="/{$info.pic}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>楼盘名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.name}" placeholder="" id="name" name="name" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>参考均价(元/m²)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="{$info.avr_price}" placeholder="" id="avr_price" name="avr_price" maxlength="20" oninput="this.value=/^\d{1,8}(\.\d{0,2})?$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">佣金区间(元)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" id="min_bro" name="min_bro" placeholder="" value="{$info.min_bro}" class="input-text" style=" width:20%">
                —
                <input type="number" id="max_bro" name="max_bro" placeholder="" value="{$info.max_bro}" class="input-text" style=" width:20%">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">面积区间(m²)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" id="min_area" name="min_area" placeholder="" value="{$info.min_area}" class="input-text" style=" width:20%">
                —
                <input type="number" id="max_area" name="max_area" placeholder="" value="{$info.max_area}" class="input-text" style=" width:20%">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>楼盘类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="type" class="select">
					<option value="住宅" {if $info['type'] == '住宅'}selected{/if}>住宅</option>
					<option value="商品类" {if $info['type'] == '商品类'}selected{/if}>商品类</option>
				</select>
				</span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>楼盘结构：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.structure}" placeholder="" id="structure" name="structure" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>户型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.apartment}" placeholder="" id="apartment" name="apartment" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>交房日期：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" name="deliver" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="deliver" value="{$info.deliver}" class="input-text Wdate" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开盘时间：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" name="open_date" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="open_date" value="{$info.open_date}" class="input-text Wdate" readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>区域：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="region" class="select">
                        {foreach $citylist as $li}
                            <option value="{$li['name']}" {if $li['name'] == $info['region']}{/if}>{$li['name']}</option>
                        {/foreach}
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>楼盘地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.address}" placeholder="" id="address" name="address" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>售楼地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.saler_address}" placeholder="" id="saler_address" name="saler_address" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开发商：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.developer}" placeholder="" id="developer" name="developer" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>建筑类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="building_type" class="select">
					<option value="板楼" {if $info['building_type'] == '板楼'}selected{/if}>板楼</option>
					<option value="塔楼" {if $info['building_type'] == '塔楼'}selected{/if}>塔楼</option>
					<option value="平板" {if $info['building_type'] == '平板'}selected{/if}>平板</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产权年限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.property}" placeholder="" id="property" name="property" maxlength="3"><span> 年</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>装修标准：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.trim_std}" placeholder="" id="trim_std" name="trim_std" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>装修价格：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="{$info.trim_price}" placeholder="" id="trim_price" name="trim_price" maxlength="20" oninput="this.value=/^\d{1,8}(\.\d{0,2})?$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>装修说明：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.trim_desc}" placeholder="" id="trim_desc" name="trim_desc" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>占地面积(m²)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.area_covered}" placeholder="" id="area_covered" name="area_covered" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>建筑面积(m²)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.floorage}" placeholder="" id="floorage" name="floorage" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>容积率：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.area_rate}" placeholder="" id="area_rate" name="area_rate" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>绿化率：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.green_rate}" placeholder="" id="green_rate" name="green_rate" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规划户数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.house_num}" placeholder="" id="house_num" name="house_num" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规划楼栋：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.building_num}" placeholder="" id="building_num" name="building_num" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规划车位：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" class="input-text" value="{$info.parking_num}" placeholder="" id="parking_num" name="parking_num" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物业类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="realty_type" class="select">
                        <option value="居住" {if $info['realty_type'] == '居住'}selected{/if}>居住</option>
                        <option value="商业" {if $info['realty_type'] == '商业'}selected{/if}>商业</option>
                        <option value="工业" {if $info['realty_type'] == '工业'}selected{/if}>工业</option>
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物业公司：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.realty_comp}" placeholder="" id="realty_comp" name="realty_comp" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物业费(元/m²/月)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="{$info.realty_price}" placeholder="" id="realty_price" name="realty_price" maxlength="20" oninput="this.value=/^\d{1,8}(\.\d{0,2})?$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>供暖方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.heating_type}" placeholder="" id="heating_type" name="heating_type" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>供水类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.water_type}" placeholder="" id="water_type" name="water_type" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>供电类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.power_type}" placeholder="" id="power_type" name="power_type" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标签：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {foreach $tag as $v}
                <label title="{$v.tag_name}" style="display:inline-block;width: 120px;">
                    <input type="checkbox" value="{$v.tag_name}" name="tags[]" {if in_array($v['tag_name'],$tags)}checked{/if}>
                    {$v.tag_name}
                </label>
                {/foreach}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">楼盘简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="desc" id="desc" cols="" rows="" maxlength="255" class="textarea"  placeholder="说点什么...最多输入255个字符">{$info.desc}</textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id}">
        <input type="file" name="file" id="file" style="display: none;">
    </form>
</article>


<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/checkfile.js"></script>

<script type="text/javascript">
    $(function(){

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        var isclick = true;
        //表单验证
        $("#form-article-add").validate({
            rules:{
                name:{
                    required:true,
                    maxlength:50
                },
                avr_price:{
                    required:true
                },
                min_area:{
                    required:true
                },
                deliver:{
                    required:true
                },
                open_date:{
                    required:true
                },
                region:{
                    required:true
                },
                address:{
                    required:true
                },
                saler_address:{
                    required:true
                },
                developer:{
                    required:true
                },
                property:{
                    required:true
                }
            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false;
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Content/resourceMod')}" ,
                        success: function(data){
                            if(data.code == 1) {
                                layer.msg('保存成功!',{icon:1,time:1000},function () {
                                    window.parent.location.reload();
                                });
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true
                            }

                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('接口请求失败!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });


        $("#btn-star").click(function(){
            $("#file").click();
            $("#file").change(function(e){
                if(checkfile('file') !== true) {
                    $("#file").val('');
                    $("#fileList").html('');
                    return false
                }
                var img = e.target.files[0];
                var src = window.URL.createObjectURL(img);
                $("#fileList").html('<img class="thumbnail" src="'+src+'" />');
            });
        });

    });
</script>