<style>
    .upload-image{ width:300px}
    .thumbnail{ width:200px;height: 200px;background-size: cover;background-position: center;position: relative}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary btn-uploadstar radius ml-10">封面图</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>楼盘名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="name" name="name" maxlength="30">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>区域：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select name="region" class="select">
                        {foreach $citylist as $li}
                            <option value="{$li['name']}">{$li['name']}</option>
                        {/foreach}
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开盘时间：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" name="open_date" value="" class="input-text" maxlength="30">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>交房日期：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" name="deliver" value="" class="input-text" maxlength="30">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>楼盘地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="address" name="address" maxlength="100">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产权年限：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="number" class="input-text" value="70" placeholder="" id="property" name="property" maxlength="30"><span></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>开发商：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="developer" name="developer" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>售楼地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="saler_address" name="saler_address" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>预售许可证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="licence" name="licence" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物业类型：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select name="realty_type" class="select">
                        <option value="居住">居住</option>
                        <option value="商业">商业</option>
                        <option value="工业">工业</option>
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物业公司：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="realty_comp" name="realty_comp" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>物业费(元/m²/月)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="realty_price" name="realty_price" maxlength="30">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>装修类型：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="普通装修" id="trim_type" name="trim_type" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>建筑类型：</label>
            <div class="formControls col-xs-4 col-sm-4"> <span class="select-box">
				<select name="building_type" class="select">
					<option value="板楼">板楼</option>
					<option value="塔楼">塔楼</option>
					<option value="平板">平板</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>容积率：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="area_rate" name="area_rate" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>占地面积(m²)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="area_covered" name="area_covered" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>建筑面积(m²)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="floorage" name="floorage" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规划户数：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="house_num" name="house_num" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规划车位：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="parking_num" name="parking_num" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>绿化率(%)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="green_rate" name="green_rate" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>参考均价(元/m²)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="avr_price" name="avr_price" maxlength="11" oninput="this.value=/^\d{1,8}(\.\d{0,2})?$/.test(this.value) ? this.value : this.value.substring(0,this.value.length-1)">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目合作有效期：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="" id="term" name="term" maxlength="100">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">面积区间(m²)：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="number" id="min_area" name="min_area" placeholder="" value="100" class="input-text" style=" width:20%">
                —
                <input type="number" id="max_area" name="max_area" placeholder="" value="200" class="input-text" style=" width:20%">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">佣金(元)：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="number" id="min_bro" name="commission" placeholder="" value="6000" class="input-text" maxlength="8">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标签：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {foreach $tag as $v}
                <label title="{$v.tag_name}" style="display:inline-block;width: 120px;">
                    <input type="checkbox" value="{$v.tag_name}" name="tags[]">
                    {$v.tag_name}
                </label>
                {/foreach}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>案场负责人姓名：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="案场负责人姓名" id="linkman" name="linkman" maxlength="20">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>案场负责人邮箱：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="此为报备通知邮箱" id="email" name="email" maxlength="50">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>案场负责人电话：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" value="" placeholder="输入负责人手机号" id="tel" name="tel" maxlength="15">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="btn btn-primary btn-uploadstar radius ml-10" onclick="javascript:$('#pic_up0').click();">平面图</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList0" class="uploader-list">

                    </div>
                    <input type="file"  id="pic_up0" name="pic_up0" style="display:none;">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="btn btn-primary btn-uploadstar radius ml-10" onclick="javascript:$('#pic_up1').click();">样板间</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList1" class="uploader-list">

                    </div>
                    <input type="file"  id="pic_up1" name="pic_up1" style="display:none;">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="btn btn-primary btn-uploadstar radius ml-10" onclick="javascript:$('#pic_up2').click();">户型图</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList2" class="uploader-list">

                    </div>
                    <input type="file"  id="pic_up2" name="pic_up2" style="display:none;">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="btn btn-primary btn-uploadstar radius ml-10" onclick="javascript:$('#pic_up3').click();">效果图</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList3" class="uploader-list">

                    </div>
                    <input type="file"  id="pic_up3" name="pic_up3" style="display:none;">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目卖点：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="selling_point" id="selling_point" cols="" rows="" maxlength="2000" class="textarea"  placeholder="说点什么...最多输入2000个字符"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 添加</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="file" name="file" id="file" style="display: none;">
    </form>
</article>


<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/checkfile.js"></script>
<script type="text/javascript" src="/lib/ajaxfileupload.js"></script>

<script type="text/javascript">
    $(function(){

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        var isclick = true;
        //表单验证
        $("#form-article-add").validate({
            rules:{
                name:{
                    required:true,
                    maxlength:30
                },
                open_date: {
                    required: true
                },
                deliver: {
                    required: true
                },
                address: {
                    required: true
                },
                property:{
                    required:true
                },
                developer:{
                    required:true
                },
                saler_address:{
                    required:true
                },
                region:{
                    required:true
                },
                realty_comp: {
                    required:true
                },
                realty_price: {
                    required:true
                },
                trim_type: {
                    required: true
                },
                area_rate: {
                    required: true
                },
                area_covered: {
                    required: true
                },
                floorage: {
                    required: true
                },
                house_num: {
                    required: true
                },
                parking_num: {
                    required: true
                },
                green_rate: {
                    required: true
                },
                avr_price:{
                    required:true
                },
                min_area: {
                    required:true
                },
                max_area: {
                    required:true
                },
                commission:{
                    required: true
                },
                linkman:{
                    required:true
                },
                email:{
                    required:true
                },
                tel:{
                    required:true
                }
            },
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false;
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Content/resourceAddPost')}" ,
                        success: function(data){
                            // console.log(data);isclick=true;return;
                            if(data.code == 1) {
                                layer.msg('添加成功!',{icon:1,time:1000},function () {
                                    window.parent.location.reload();
                                });
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                            }
                            isclick = true;
                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('接口请求失败!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }

            }
        });


        $("#btn-star").click(function(){
            $("#file").click();
            $("#file").change(function(e){
                if(checkfile('file') !== true) {
                    $("#file").val('');
                    $("#fileList").html('');
                    return false
                }
                var img = e.target.files[0];
                var src = window.URL.createObjectURL(img);
                $("#fileList").html('<img class="upload-image" src="'+src+'" />');
            });
        });

        $(document).on("change","#pic_up0",function(){
            var limit = 6;
            if($("input[name='pic_url0[]']").length > (limit-1)) {
                layer.alert('最多上传'+limit+'张图');
                return false;
            }
            if($("#pic_up0").val() != '') {
                ajaxFileUpload('0');
            }
        });

        $(document).on("change","#pic_up1",function(){
            var limit = 6;
            if($("input[name='pic_url1[]']").length > (limit-1)) {
                layer.alert('最多上传'+limit+'张图');
                return false;
            }
            if($("#pic_up0").val() != '') {
                ajaxFileUpload('1');
            }
        });

        $(document).on("change","#pic_up2",function(){
            var limit = 6;
            if($("input[name='pic_url2[]']").length > (limit-1)) {
                layer.alert('最多上传'+limit+'张图');
                return false;
            }
            if($("#pic_up0").val() != '') {
                ajaxFileUpload('2');
            }
        });

        $(document).on("change","#pic_up3",function(){
            var limit = 6;
            if($("input[name='pic_url3[]']").length > (limit-1)) {
                layer.alert('最多上传'+limit+'张图');
                return false;
            }
            if($("#pic_up0").val() != '') {
                ajaxFileUpload('3');
            }
        });

        $(document).on("click",'.thumbnail',function(){
            var picBox = $(this);
            layer.confirm("是否要删除该图片？",{
                btn:['是','否']
            },function(){
                picBox.remove();
                layer.closeAll();
            });
        });

        function ajaxFileUpload(index) {
            if(checkfile('pic_up'+index) !== true) {
                $("#pic_up"+index).val('');
                return false;
            }
            $.ajaxFileUpload({
                url: '{:url("Index/uploadImage")}', //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'pic_up'+index, //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                    // console.log(data.data.path);
                    var src = data.data.path;
                    var html = '<div class="thumbnail" style="background-image: url(/'+src+');"><div class="file-panel"><input type="hidden" value="'+src+'" name="pic_url' + index + '[]"/></div></div>';
                    $("#fileList"+index).append(html);
                }
            });
            return false;
        }

    });
</script>