<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
    {if session('username')===config('superman')}
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Question/chapterList')}" data-title="章节列表" href="javascript:void(0)">章节列表</a></li>
                    <li><a data-href="{:url('Question/questionList')}" data-title="题目列表" href="javascript:void(0)">题目列表</a></li>
                    <li><a data-href="{:url('Question/remarkList')}" data-title="评语设置" href="javascript:void(0)">评语设置</a></li>
                </ul>

            </dd>
        </dl>
    {/if}
    </div>
</aside>